<header class="Bgc(rgba(255,255,255,0.8)) C(#1d1d1f) P(0) Bdb(1px,s,rgba(0,0,0,0.1)) Pos(s) T(0) Z(1000) Bdf(saturate(180%)_blur(20px))">
    <div class="Maw(980px) M(0,a) P(0,22px) D(f) Jc(sb) Ai(c) H(44px)">
        <h1 class="Fz(1.3rem) Fw(600) C(#1d1d1f)">Dummy Website</h1>
        <nav>
            <ul class="D(f) Gap(0) Lis(n)">
                {% include components/nav-link.html page="index.html" text="Home" %}
                {% include components/nav-link.html page="blog.html" text="Blog" %}
                {% include components/nav-link.html page="forms.html" text="Forms" %}
                {% include components/nav-link.html page="products.html" text="Products" %}
                {% include components/nav-link.html page="saas-landing.html" text="SaaS" %}
                {% include components/nav-link.html page="tables.html" text="Tables" %}
            </ul>
        </nav>
    </div>
</header>
