<header>
    <div class="container">
        <h1>Dummy Website</h1>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="{{ site.baseurl }}/forms.html">Forms</a></li>
                <li><a href="{{ site.baseurl }}/products.html">Products</a></li>
                <li><a href="{{ site.baseurl }}/saas-landing.html">SaaS</a></li>
                <li><a href="{{ site.baseurl }}/tables.html">Tables</a></li>
            </ul>
        </nav>
    </div>
</header>
